#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    
    /* feito por mim */
    grid-template-columns: 50%;                     /* 20 */
    grid-template-columns: repeat(5, 12.5%);        /* 21 */
    grid-template-columns: 100px 3em 40%;           /* 22 */
    grid-template-columns: 1fr 5fr;                 /* 23 */
    grid-template-columns: 50px 1fr 1fr 1fr 50px;   /* 24 */
    grid-template-columns: 75px 3fr 2fr;            /* 25 */
    grid-template-rows: 50px 0 0 0;                 /* 26 */
    grid-template: 60% 60% / 200px;                 /* 27 */
    grid-template: 1fr 50px/ 20% 80%;               /* 28 */
  }
  
#water {
    /* feito por mim */
    grid-column-start: 3;               /* 1 */
    grid-column-end: 4;                 /* 3 */
    grid-column-end: 2;                 /* 4 */
    grid-column-end: -2;                /* 5 */
    grid-column-end: span 2;            /* 7 */
    grid-column-end: span 5;            /* 8 */
    grid-column-start: span 3;          /* 9 */
    grid-column: 4/6;                   /* 10 */
    grid-column: span 3/5;              /* 11 */
    grid-row-start: 3;                  /* 12 */
    grid-row: 3/6;                      /* 13 */
    grid-column: 2/6;                   /* 15 */
    grid-row: 1/6;
    grid-area: 1/2/4/6;                 /* 16 */
    grid-area: 2/3/5/6;                 /* 17 */

}

#poison {
    /* feito por mim */
    grid-column-start: 5;               /* 2 */
    grid-column-start: -3;              /* 6 */
    grid-column: 2;                     /* 14 */
    grid-row: 5;
    order: 5;                           /* 18 */
    order: -1;                          /* 19 */

}