.background-register {
    height: 100vh;
    width: 60%;

    background-image: url("./add_use.svg");
    background-position: 10vw;
    background-repeat: no-repeat;

    position: absolute;
}

fieldset {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    border: 0;

    width: 400px;
    min-height: 100%;

    padding: 100px 0 0 0;

    position: absolute;
    right: 0;

    color: #fff;
    background-color: #102542;
}

h2 {
    margin-bottom: 50px;
}

input {
    border: 0;
    border-bottom: 1px solid #d7d7e6;

    width: 300px;

    margin: 0 auto;

    padding: 10px;

    margin-bottom: 30px;

    font-size: 16px;

    color: #fff;
    background-color: #102542;
}

.jump {
    margin: 30px auto 0 auto;

    width: 250px;

    line-height: 30px;
}

.jump > img {
    width: 80px;
}

.btn-save {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 60px;

    border: 0;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    color: #fff;
    background-color: #5762d5;
}

.btn-save > img {
    position: absolute; 
    right: 30px;
    bottom: 14px;

    width: 30px;
}

.btn-list {
    position: absolute;
    top: 5px;
    right: 10px;

    padding: 10px;

    border: 0;

    cursor: pointer;

    color: #fff;
    background: none;
}

.btn-list > img {
    position: absolute;
    top: 8.5px;
    right: 80px;

    width: 18px;
}